* {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  overflow: hidden;
  margin: 0;
}

h1 {
  font-family: Candara;
  font-weight: bold;
  text-decoration: wavy underline lime 10px;


}

h2 {
  font-family: Arial;
  color: blue;
  font-weight: inherit;
  text-decoration: overline purple 10px;
  position: absolute;
}
 button {
   border: 3px red ridge;
 }

img {
  opacity: 0.2;
  object-fit: fill;
  height: 100vh;
  width: 100vw;
}

img:hover {
  opacity: 1;
  object-fit: fill;
  height: 100vh;
  width: 100vw;
}
